*,html,body {
    padding: 0px;
    margin: 0px;
    font-family: 'Open Sans';
}

.home-link-end, .home-button-end {
    margin-top: 60px;
    width: 100%;  
    background-color: #0ecaea;
    border: none;
    text-decoration: none;
    padding: 20px 0px;

    font-size: 14px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 1.2px;
    text-align: center;
    color: #ffffff;
}
.home-link-end:hover, .home-button-end:hover {
    text-decoration: none;
}

.halfImage {
    margin: 0px;
    display: inline-block;
    width: 50%;
}

.half-image-left {
    margin: 0px;
    display: inline-block;
    width: 50%;
    margin-top: 50px;
}
.half-image-right {
    margin: 0px;
    float: right;
    width: 50%;
    margin-top: 50px;
}

.image-with-caption {
    background-color: #72182b;
    width: 100%;
    padding: 0px;
    margin: 0px;
}

.persona-header {
    font-size: 34px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 2.8px;
    color: #444444;
}

.h-label {
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 1px;
    color: #444444;
}

.gradient {
    margin-top: 20px;
    margin-left: 49px;
    width: 340px;
    height: 8px;
    border-radius: 7.5px;
    background-image: linear-gradient(to left, #d0021b, #f5a623 35%, #f2e438 75%, #87d933);
}

.h-caption {
    margin-top: 30px;
    margin-left: 50px;

    font-size: 18px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 1.5px;
    color: #444444;
}

.caption-half {
    margin-top: 34px;
    margin-left: 50px;

    font-size: 18px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 1.5px;
    color: #444444;
}

.caption {
    float: right;
    margin-top: 240px;
    padding: 0px 50px;
    width: 50%;
    font-size: 22px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.82;
    letter-spacing: 1.8px;
    text-align: center;
    color: #ffffff;
}

.section-header {
    margin-left: 50px;
    margin-top: 96px;  
    font-size: 26px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 2.2px;
    color: #444444;
}
.section-para {
    margin-top: 20px;
    margin-left: 50px;
    margin-right: 50px;
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 2;
    letter-spacing: 1.5px;
    color: #444444;
}

/*          NAVABAR             */

#ham-menu {
    display: none;
}

.nav {
    position: fixed;
    width: 100%;
    top: 0px;
    background-color: #fff;
    padding-top: 18px;
    padding-bottom: 18px;
    border-bottom: 1px solid #d9d9d9;
    z-index: 1;
}

.gif-caption {
    margin-top: 10px;
    font-size: 20px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.8;
    letter-spacing: 1.7px;
    text-align: center;
    color: #444444;
}

.right-caption {
    margin: auto;
    width: 567px;
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 2.44;
    letter-spacing: 1.5px;
    color: #444444;
    position: relative; 
    top: 50%; 
    transform: translateY(-50%);
}

.logo {
    margin-left: 50px;

    font-family: "Open Sans",sans-serif;
    font-size: 24px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: 4px;
    color: #424242;  

    text-decoration: none;
}

.logo:hover {
    text-decoration: none;
    color: #424242;
}

.active {
    color: #0ecaea;    
}
.active:hover {
    color: #0ecaea;
}

.inactive {
    color: #424242;
}
.inactive:hover {
    color: #0ecaea;
}

.resume {
    float: right;
    margin-right: 50px;
    margin-top: 5px;

    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.29;
    letter-spacing: normal;
    text-align: center;

    text-decoration: none;
}

.work {
    float: right;
    margin-top: 5px;    
    margin-right: 60px;

    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.29;
    letter-spacing: normal;
    text-align: center;

    text-decoration: none;
}

.work:hover, .resume:hover {
    text-decoration: none;
}

.menu-items {
    position: absolute;
    right: 0px;
}

.ham {
    display: none;
}



/*          HOMEPAGE CONTENT            */

.home-content {    
    margin-top: 250px;
}

.home-title {
    font-size: 54px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #444444;
    margin: auto;
}

.home-details {
    margin-top: 50px;
    font-size: 20px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 2;
    letter-spacing: 1.7px;
    text-align: center;
    color: #444444;
}

.home-button {
    position: relative;

    margin:  103px auto;

    border: 1px solid #979797;
    width: 270px;
    text-align: center;
    padding-top: 24px;
    padding-bottom: 24px;
    padding-left: 67px;
    padding-right: 67px;
    color: #979797;
}

.home-button:hover {
    background-color: #0ecaea;
    color: #fff;
    border-color: #fff;
}

.home-link {
    position: relative;
}

.home-link:hover {
    text-decoration: none;
}

.home-details a {
    color: #0ecaea;
    text-decoration: underline;
}

/*          PROJECTS SCREEN         */

.projects {
    margin-top: 134px;
}

.fullImage {
    width: 100%;
    margin-top: 60px;
}

.divider {
    margin-top: 85px;
    width: 100%;
    margin-bottom: 96px;
    height: 1px;
    border: none;
    color: #d9d9d9;
    background-color: #d9d9d9;
}

.project-about {
    position: absolute;
}

.project-image {
    max-width: 100%;
    margin: auto;
}

.project-title {

    margin-bottom: 33px;

    font-size: 40px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #444444;
}

.project-details {
    max-width: 390px;
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.83;
    letter-spacing: normal;
    color: #444444;
    margin-bottom: 40px;
}

.tag {
    font-size: 18px;
    font-weight: normal;
    font-style: italic;
    font-stretch: normal;
    line-height: normal;
    margin-bottom: 40px;
    letter-spacing: normal;
    color: #444444;
    margin-right: 20px;
    padding: 3px 10px 3px 3px;
    background-color: #E6F9FC;
}

.store-link {
    position: relative;
    margin-top: 40px;
    text-decoration: none;
}

.store-link:hover {
    text-decoration: none;
}

.store-button {
    font-size: 16.5px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #434343;
    padding: 18px;
    border-radius: 29.3px;
    border: 1.5px solid #0ecaea; 
}
.store-button img {
    margin-right: 18px; 
}

.cover-image {
    width: 100%;
    margin-top: 173px;
}

.dark-section {
    background-color: #16252e;
    width: 100%;
    margin-top: 75px;
    padding: 30px 50px 78px 50px;
}

.dark-tag {
    margin-left: 50px;
    font-size: 16px;
    font-weight: normal;
    font-style: italic;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #ffffff;  
    background-color: #0ecaea;
    padding: 1px 20px 1px 1px;
}

.dark-section-para {
    margin-top: 30px;
    margin-right: 50px;
    margin-left: 50px;
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 2.5;
    letter-spacing: 1.5px;
    color: #ffffff;
}

.dark-section-image {
    width: 15%;
}

.dark-title {
    font-size: 26px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 2.2px;
    color: #ffffff;
}

/*          RESPONSIVE          */

@media only screen and (max-width: 768px) {

    .ham {
        display: inline-block;
        cursor: pointer;
        position: absolute;
        right: 0;
        margin-right: 18px;
    }
    
    .image-with-caption .halfImage {
        width: 100%;
    }

    .caption {
        float: left;
        background-color: #72182b;        
        display: block;
        width: 100%;
        margin-top: 0px;
        font-size: 12px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 2.5;
        letter-spacing: 1px;
        text-align: center;
        color: #ffffff;
        padding: 30px 18px;
    }

    .bar1, .bar2, .bar3 {
        width: 36px;
        height: 5px;
        background-color: #979797;
        margin: 10px 0;
        transition: 0.4s;
    }

    .change .bar1 {
        -webkit-transform: rotate(-45deg) translate(-9px, 6px) ;
        transform: rotate(-45deg) translate(-9px, 6px) ;
    }
    
    .change .bar3 {
        -webkit-transform: rotate(45deg) translate(-8px, -8px) ;
        transform: rotate(45deg) translate(-8px, -8px) ;
    }

    .logo {
        margin-top: 10px;
        font-size: 14px;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: 2;
        letter-spacing: 2.3px;
        color: #424242;
        margin-left: 18px;
    }

    .work, .resume {
        display: none;
    }

    .home-link, .home-button {
        margin: 0px;
        position: fixed;
        bottom: 0px;
        width: 100%;  
        background-color: #0ecaea;
        border: none;

        font-size: 14px;
        font-weight: 600;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: 1.2px;
        text-align: center;
        color: #ffffff;
    }

    .home-content {
        margin-top: 125px;
    }

    .row {
        padding-left: 18px;
        padding-right: 18px;
    }

    .home-details {
        margin-top: 30px;
        font-size: 13px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 2.31;
        letter-spacing: 1.1px;
        text-align: center;
        color: #444444;
    }

    .home-title {
        font-size: 28px;
        font-weight: 600;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: center;
        color: #444444;
    }
    .ham-menu-items {  
        color: #444444;
        font-size: 24px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: 2px;
        text-align: center;
        margin-top: 30px;
    }
    #ham-menu {
        margin-top: 168px;
    }
    .ham-menu-active {
        margin-top: 30px;
        font-size: 28px;
        font-weight: 600;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: 2.3px;
        text-align: center;
        color: #0ecaea;
        text-decoration: none;
    }
    hr {
        margin: auto;
        width: 180px;
        height: 1px;
    }
    .ham-menu-icons {
        position: relative;
        display: block;
        float: none;
        width: 200px;
        margin: 30px auto;
    }

    .project-image {
        margin-top: 40px;
    }

    .project-about {
        position: relative;
        margin: 20px;
    }

    .projects {
        margin-top: 95px;
    }
    .project-title {
        font-size: 20px;
        font-weight: 600;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #444444;
        margin-bottom: 10px;
    }
    .project-details {
        font-size: 12px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 2.5;
        letter-spacing: 1px;
        color: #444444;
        margin-bottom: 10px;
    }
    br {
        height: 0.5em;
    }
    .tag {
        font-size: 14px;
        font-weight: normal;
        font-style: italic;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #444444;
        margin-right: 10px;
    }
    .store-button {
        font-size: 12px;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #434343;
    }
    .divider {
        margin-top: 61px;
        margin-bottom: 30px;
    }
    #trouble {
        margin-top: 250px;    
    }

    .section-header {
        font-size: 14px;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: 1.2px;
        color: #444444;
        margin-top: 30px;
        margin-left: 18px;
    }
    .section-para {
        font-size: 12px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 2.5;
        letter-spacing: 1px;
        color: #444444;
        margin-top: 10px;
        margin-left: 18px;
    }
    .section {
        margin: 0px 16px 0px 16px;
    }
}