@media only screen and (max-width: 768px) {

    .home-title {
        font-size: 28px;
        font-weight: 600;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: center;
        color: #444444;
    }
    
    .row {
        padding-left: 18px;
        padding-right: 18px;
    }
}