.cover-image {
  width: 100%;
  margin: 30px 0px 0px 0px;
}

iframe {
  width: 100%;
  height: 600px;

  border: 0px;
  background-color: #000;
}

.section-header {
  font-size: 26px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 2.2px;
  color: #444444;

  margin-left: 50px;
  margin-top: 60px;
}

.section-text {
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 2;
  letter-spacing: 1.5px;
  color: #444444;

  margin-top: 20px;
  margin-left: 50px;
  margin-right: 50px;
}

.caption {

  margin: auto;
  width: 84%;
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 2;
  letter-spacing: 1.5px;
  color: #444444;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.caption-header {
  font-size: 18px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 1.5px;
  color: #444444;
}

.caption-div-right {
  width: 50%;
  height: 100%;
  right: 0px;
  position: absolute;
  top: 0px;
}

.caption-div-left {
  width: 50%;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
}

.caption-img {
  position: relative;
  margin: auto;
}

.image-div-left {
  width: 50%;
}

.image-div-right {
  margin-left: 50%;
  width: 50%;
}

.image-div-left img {
  width: 100%;
}

.image-div-right img {
  width: 100%;
}

.full-width-image {
  width: 100%;
}

.next-button {
  margin-top: 60px;

  width: 100%;
  padding: 12px 0px 12px 0px;

  background-color: #0ecaea;

  font-size: 20px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 1.7px;
  text-align: center;
  color: #ffffff;

  border: none;
}

.center-image {
  margin: 129px auto;

  display: block;
}

.center-image-div {
  width: 100%;
  display: block;
}

.two-images {
  width: 100%;
  display: block;
  position: relative;
}

.image-left {
  width: 50%;

  float: left;
}

.image-left img {
  width: 100%;
}

.tags {
  margin-left: 50px;
  margin-top: 31px;
}

.tag {
  font-size: 16px;
  font-weight: normal;
  font-style: italic;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #444444;

  margin-right: 20px;

  background-color: #E7FAFD;
}

.iframe-caption {
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 1.2px;
  color: #444444;

  margin-left: 50px;
  margin-top: 38px;
}

.image-left h3,
.image-right h3 {
  font-size: 20px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.8;
  letter-spacing: 1.7px;
  text-align: center;
  color: #444444;
}

.image-right {
  width: 50%;

  float: right;
}

.image-right img {
  width: 100%;
}

.three-image-div {
  position: relative;
  margin-bottom: 40%;
}

.leftmost-image {
  width: 33.33%;
  float: left;
}

.centermost-image {
  width: 33.33%;
  float: left;
}

.rightmost-image {
  width: 33.33%;
  float: right;
}

.leftmost-image img,
.centermost-image img,
.rightmost-image img {
  width: 100%;
}

@media screen and (max-width: 991px) {

  .image-left h3,
  .image-right h3 {
    font-size: 14px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: 2.57;
    letter-spacing: 1.2px;
    text-align: center;
    color: #444444;
  }

  .image-left,
  .image-right {
    width: 100%;
    float: none;
  }

  .cover-image {
    margin-top: 65px;
  }

  .section-header {
    font-size: 14px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 1.2px;
    color: #444444;

    margin-left: 18px;
    margin-top: 30px;
  }

  .section-text {
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 2.5;
    letter-spacing: 1px;
    color: #444444;

    margin-left: 18px;
    margin-top: 10px;
  }

  .image-div-left {
    width: 100%;
  }

  .image-div-right {
    margin-left: 0px;
    width: 100%;
  }

  .caption-div-right {
    position: relative;
    width: 100%;
  }

  .caption-div-left {
    position: relative;
    width: 100%;
  }

  .caption {
    transform: none;

    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 2.5;
    letter-spacing: 1px;
    color: #444444;

    margin-bottom: 30px;
    margin-top: 30px;

    margin-left: 18px;
  }

  .caption-header {
    font-size: 12px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 1px;
    color: #444444;
  }

  .next-button {
    font-size: 14px;
    font-weight: 800;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 1.2px;
    text-align: center;
    color: #ffffff;

    margin-top: 30px;

    padding: 11px 0px 10px 0px;
  }

  .iframe-caption {
    font-size: 10px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 2;
    letter-spacing: 0.8px;
    color: #444444;

    margin-left: 18px;
    margin-right: 18px;
  }

  .tags {
    margin-left: 18px;
    margin-right: 18px;

    margin-top: 10px;
  }

  .tag {
    margin-top: 5px;
    display: inline-block;

    font-size: 12px;
    font-weight: normal;
    font-style: italic;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #444444;
  }

  .leftmost-image {
    float: none;
    width: 100%;
  }

  .centermost-image {
    float: none;
    width: 100%;
  }

  .rightmost-image {
    float: none;
    width: 100%;
  }
}
.seagate .two-images {
  display: table !important; 
}
